// Colors
$color-alizarin:#e7272d;
$color-red: #e62b4a;
$color-dim-gray: #666666;
$color-white-gray:#aaaaaa;
$color-gainsboro: #E7E7E7;
$color-bg-gray:#f7f7f7;
$color-black: #000000;
$color-black-primary: #232323;
$color-black-primary1:#231e1e; 
$color-white:#ffffff; 

