#services-area{
    // background: $color-black;
}
.service-heading {
    text-align: center;
    h4 {
        color: $color-red;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        margin: 0 0 20px;
    }
    h2 {
        color: $color-black;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0px 0px 20px;
        letter-spacing: 0.8px;
    }
    p {
        color: $color-white-gray;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 50px;
    }
}
.row{
    &.custom_column {
        .col-md-3 {
            -ms-flex: 0 0 20%;
            flex: 0 0 20%; 
            max-width: 20%;
        }
       
    }
}
.filpper {
    a:hover {
        text-decoration: none;
    }
    .back, .front {
        box-shadow: -2px 3px 5px rgba(0, 0, 0, .3);
        border: 2px solid #f9f4f4;
        width: 100%;
        text-align: center;
        padding: 45px 46px 45px;
        svg{
            color: $color-white-gray;
            font-size: 64px;
            margin: 0px 0px 20px 0px;
        }
        h3{
            color: $color-white-gray;
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
        }
        
        
        // &::after {
        //     content: "";
        //     position: absolute;
        //     background: $color-red;
        //     top: 193px;
        //     left: 16px;
        //     width: 86%;
        //     height: 30px;
        // }
    }
    .back {
        position: absolute;
        background: $color-red;
        top: 14%;
        height: 100%;
        left: 16px;
        width: 86%;
        opacity: 0;
        transition: all 1s ease-in-out;
        border: none;
        &:hover {
            opacity: 1;
            top: 0;
        }
        h3, svg {
            color: $color-white;
        }
    }
}