.dl-menu__wrap {
    height: auto;
    position: relative;
    perspective: 600px;
    perspective-origin: 50% -200%;
    text-align: center;
    transition: all 0.6s 0s cubic-bezier(0.7, 0, 0.3, 1);
    width: 100%;
}
.dl-menu__wrap ul {
    list-style: none;
    padding: 0;
    transform-style: preserve-3d;
}
.dl-menu__wrap ul li {
    margin: 13px 0;
    position: relative;
    display: block;
}
.dl-menu__wrap ul li a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 16px;
    line-height: .8;
    letter-spacing: 1px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
    transition: all 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}
.dl-menu__wrap ul li a::after {
    position: absolute;
    width: 0;
    height: 1px;
    content: '';
    background: #fff;
    left: 0;
    right: 0;
    bottom: -5px;
    -webkit-transition: all 0.6s 0s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: all 0.6s 0s cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 0.6s 0s cubic-bezier(0.7, 0, 0.3, 1);
    z-index: -1;
}
.dl-menu__wrap ul li.menu-item-has-children > a{
    position: relative;
}
.dl-menu__wrap ul li.menu-item-has-children > a:before{
    position: absolute;
    right: -18px;
    top: 2px;
    content: "\f107";
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    font-family: 'fontAwesome';
    font-size: 12px;
    color: #fff;
    line-height: .8;
}
.dl-menu__wrap ul li.menu-item-has-children > a:hover:before{
    transform: rotate(-180deg);
}
.dl-menu__wrap ul li.active > a::after,
.dl-menu__wrap ul li a:hover::after {
    width: 100%;
}
.dl-menu__wrap ul li .dl-submenu {
    display: none;
}
.dl-menu__wrap .dl-menu {
    margin: 0;
    pointer-events: none;
    transform: translateY(10px);
    backface-visibility: hidden;
    width: 100%;
}
.dl-menu__wrap .dl-menu.dl-menu-toggle {
    transition: all 0.3s ease;
}
.dl-menu__wrap .dl-menu.dl-menuopen {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
}
.dl-menu__wrap .dl-menu.dl-subview li,
.dl-menu__wrap .dl-menu.dl-subview li.dl-subviewopen > a, 
.dl-menu__wrap .dl-menu.dl-subview li.dl-subview > a {
    display: none;
}
.dl-menu__wrap .dl-menu.dl-subview li.dl-subview, 
.dl-menu__wrap .dl-menu.dl-subview li.dl-subview .dl-submenu, 
.dl-menu__wrap .dl-menu.dl-subview li.dl-subviewopen, 
.dl-menu__wrap .dl-menu.dl-subview li.dl-subviewopen > 
.dl-submenu, .dl-menu__wrap .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
    display: block;
}
.dl-menu__wrap .dl-menu.dl-animate-out-3 {
    -webkit-animation: MenuAnimOut3 0.4s ease;
    animation: MenuAnimOut3 0.4s ease;
}
.dl-menu__wrap .dl-menu.dl-animate-in-3 {
    -webkit-animation: MenuAnimIn3 0.4s ease;
    animation: MenuAnimIn3 0.4s ease;
}
.dl-menu__wrap .dl-menu .dl-back a {
    position: relative;
    width: 26px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.dl-menu__wrap .dl-menu .dl-back a:before {
    content: '';
    background-color: transparent;
    background-image: url(../images/arrow-back.svg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 26px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    width: 26px;
}
.dl-menu__wrap .dl-menu .dl-back a:after{
    display: none;
}
.dl-menu__wrap .dl-menu.dl-subview .dl-back {
    -webkit-animation: SubMenuAnimIn3 0.4s ease;
    animation: SubMenuAnimIn3 0.4s ease;
}
.dl-menu__wrap > .dl-submenu {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.dl-menu__wrap > .dl-submenu.dl-animate-in-3 {
    -webkit-animation: SubMenuAnimIn3 0.4s ease;
    animation: SubMenuAnimIn3 0.4s ease;
}
.dl-menu__wrap > .dl-submenu.dl-animate-out-3 {
    -webkit-animation: SubMenuAnimOut3 0.4s ease;
    animation: SubMenuAnimOut3 0.4s ease;
}
@keyframes MenuAnimOut3 {
    100% {
        transform: translateZ(300px);
        opacity: 0;
    }
}
@keyframes MenuAnimIn3 {
    0% {
        transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0px);
        opacity: 1;
    }
}
@keyframes SubMenuAnimIn3 {
    0% {
        transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0px);
        opacity: 1;
    }
}
@keyframes SubMenuAnimOut3 {
    0% {
        transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        transform: translateZ(-300px);
        opacity: 0;
    }
}